rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.admin == true ||
        request.auth.token.email == 'admin@academy.edu' ||
        request.auth.token.email == 'admin@gmail.com' ||
        request.auth.token.email == 'admin@outlook.com' ||
        request.auth.token.email == 'alitshrestha74@gmail.com'
      );
    }

    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}
